.article-card {
  border: solid grey 2px;
  background-color: #ffff;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
  height: 56vh;
  width: 20vw;
}

.card-info {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;
  color: black;
}

.article-details {
  text-decoration: none;
}

p {
  margin: 1vh;
}